*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('');
}
img{
    height: 200px;
    width: 200px;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.list-item{
    padding-inline: 2rem;
}
.navbar{
    background-color: #262322;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    
}
a{
    color: lightgray;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    transition: 1s ease-in-out;
}
a:hover{
    font-size: larger;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    padding-top: 5rem;
    gap: 1rem; 
}
.grid-item{
    height: 5rem;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 2em;
    box-shadow: 2px 2px 2px 2px black;
}

