*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('rubberduck.jpg');
}
img{
    height: 200px;
    width: 200px;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.list-item{
    padding-inline: 2rem;
}
.navbar{
    background-color: #262322;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: whitesmoke;
    font-family: 'Bangers', cursive;
    text-decoration: none;
}

